{
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^~/components/\\w+$",
        "^~/components/custom-ui/",
        "^~/components/ui/",
        "^~/lib/",
        "^react",
        "^@"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}